@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@600&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Home section */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./img/home2.jpeg);
    background-position: center;
    position: relative;
    background-size: cover
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 80px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    z-index: 1;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0076c1;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    font-family: 'Montserrat';
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins';
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #0076c1;
    background: #0076c1;
    transition: ls;
}
.nav  .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0076c1;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .i-menu{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        color: white;
    }
    
}


.i-menu {
    width: 25px;
    display: none;
    color: white;
}

/*End Home section */



/* Mission section*/
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
    
}
.course p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Roboto';
}
.course h4{
    color: rgb(149, 138, 138);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col {
    flex-basis: 31%;
    background: #8655e9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.course h3{
    text-align: center;
    font-weight: 600;
    margin: 14px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
.course-col h3 {
    color: #fff;
}
.course-col p {
    color: rgb(226, 196, 243);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/* End Mission */

/*About section*/

/* End About section*/



/* Facilites section */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus h1{
    font-size: 36px;
    font-weight: 600;
}
.campus p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(54, 23, 233, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*end Facilities */


/* Division section */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.facilities h1{
    font-size: 36px;
    font-weight: 600;
}
.facilities p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
    text-align: left;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
@media(max-width: 700px) {
    .facilities-col p {
        padding-bottom: 20px;
    }
}

/* End Division section */

/*News Section*/
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 100px;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.blog-heading span{
    color: #f44336;
}
.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
} 
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap ;
}
.blog-box{
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 10px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
    color: #f44336;
    font-size: 0.9rem;
}
.blog-text a {
    text-decoration: none;
}
.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
}
.blog-text .blog-title:hover {
    color: #f44336;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text .read{
    color: #2b2b2b;
}
.blog-text a:hover{
    color: #f44336;
    transition: all ease 0.3s;
}
/* EndNews Section*/

/* Comment section */
#testimonials {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-bottom: 100px;
    background-color: #fdfdfd;
}
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.testimonials-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #0076c1;
    color: #ececec;
    padding: 10px 20px;
}
.testimonials-heading span{
    font-size: 1.3rem;
    color: #2b2b2b;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonials-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile {
    display: flex;
    flex-direction: column;
}
.name-user {
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #2b2b2b;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: rgb(120, 118, 118);
    font-size: 0.8rem;
}
.reviews {
    color: rgb(238, 238, 13);
}
.reviews ion-icon {
    font-size: 1.6rem;
}
.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment{
    font-size: 0.9rem;
    color: #9b9b9b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
@media(max-width: 1060px){
    .testimonial-box{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width: 790px){
    .testimonial-box{
        width: 100%;
    }
    .testimonials-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width: 340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
/* end comment section */

/* Footer section */
#footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.footer{
    display: flex;

}
footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social_icon li,
 footer .menu li {
    list-style: none;
    text-decoration: none;
}
footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover {
    transform: translateY(-10px);

}
footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer menu li a:hover{
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 100px;
    font-size: 1.1em;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./img/wave.png);
    background-size: 1000px;
}
footer .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}


  /* End Footer section */
